---
title: Hello!
subtitle: I'm Mika Busante, a developer working on The Internet and living in Upstate New York.
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mika Busante</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>{{ title }}</h1>
  <p>{{ subtitle }}</p>

  {% for project in collections.projects %}
    <div>
      <div>
        <h2>{{ project.data.title }}</h2>
        {% if project.data.url %}
          <a href="{{ project.data.url }}"> -> </a>
        {% endif %}
      </div>
     

      <p>{{ project.templateContent }}</p>

      <h3>Technology Used</h3>
      <ul>
        {% for item in project.data.technology_used %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</body>
</html>